.enterprises-page {
  padding: 20px;

  .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    h2 {
      font-weight: 600;
    }
  }

  .header-actions {
    display: flex;
    gap: 10px;
    right: 0;
  }

  .search-box input {
    padding: 0px 10px 0px 40px;
    border: 1px solid #ddd;
    border-radius: 6px;
    width: 325px;
  }

  .add-btn {
    background: #2563eb;
    color: white;
    border: none;
    padding: 8px 14px;
    border-radius: 6px;
    cursor: pointer;
  }

  .table-card {
    background: white;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.08);
  }
}
.custom-dropdown {
  position: relative;
  height: 42px;
  min-width: 180px;

  width: 230px;
}
.dropdown-trigger span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.dropdown-menu {
  max-height: 220px; // 👈 GIỚI HẠN CHIỀU CAO
  overflow-y: auto;
}
.dropdown-menu::-webkit-scrollbar {
  width: 6px;
}

.dropdown-menu::-webkit-scrollbar-thumb {
  background: #d1d5db;
  border-radius: 6px;
}

.dropdown-menu::-webkit-scrollbar-thumb:hover {
  background: #9ca3af;
}
.dropdown-trigger span {
  position: relative;
}

.dropdown-trigger span:hover::after {
  content: attr(title);
  position: absolute;
  top: 120%;
  left: 0;
  background: #111;
  color: white;
  padding: 4px 8px;
  border-radius: 6px;
  font-size: 12px;
  white-space: nowrap;
}
.import-btn {
  height: 42px;
  background: white;
  border: 1px solid #EE0033;
  color: #EE0033;
  padding: 0 16px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.25s;

  &:hover {
    background: #EE0033;
    color: white;
  }
}