.header {
  height: 60px;
  background: #fff;
  border-bottom: 2px solid #c8102e;
  margin-bottom: 0 !important;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 20px;
}

.user-section {
  position: relative;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.avatar-header {
  width: 36px;
  height: 36px;

  border-radius: 50%;
  background: #c8102e;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: bold;
}

.user-text {
  display: flex;
  flex-direction: column;
  line-height: 1.2;
}

.name {
  font-weight: 600;
  font-size: 14px;
}

.role {
  font-size: 12px;
}

.dropdown-icon {
  font-size: 12px;
  transition: transform 0.25s;
}

.dropdown-icon.rotate {
  transform: rotate(180deg);
}

/* dropdown */

.dropdown-menu {
  position: absolute;
  right: 0;
  top: 48px;

  width: 180px;

  background: white;
  border-radius: 8px;

  box-shadow: 0 10px 25px rgba(0,0,0,0.15);

  animation: dropdownFade 0.2s ease;
}

.dropdown-item {
  padding: 12px 15px;
  font-size: 14px;
  cursor: pointer;
}

.dropdown-item:hover {
  background: #f5f5f5;
}

.logout {
  color: #c8102e;
}

/* animation */

@keyframes dropdownFade {
  from {
    opacity: 0;
    transform: translateY(-8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}