.sidebar {
  width: 230px;
  background: #c8102e; // đỏ Viettel
  color: white;
  padding: 20px;
}

.logo-container {
  text-align: center;
  margin-bottom: 30px;
}

.logo-container img {
  width: 230px;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.menu a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.menu a:hover {
  opacity: 0.8;
}